body {
  background-color: rgba(60, 240, 166, 0.8);
}
label{
  font-size: larger;
  font-weight: 900;
}
#steam-id {
  margin-top: 15px;
  background-color: white;
  color: black;
  border: none;
  padding: 15px;
}

#fight {
  margin-top: 15px;
  padding: 15px;
  border-radius: 15%;
  background-color: #ff4530;
  color: #fff;
  border: none;
  font-size: larger;
  font-weight: 900;
}